<!DOCTYPE html>
{%load staticfiles%}

<html>
<head>

    <link href="{%static 'css/test4.css'%}" rel="stylesheet">

<body bgcolor="#375472">
    <nav role="navigation" style="text-align: center;">

        <img src="{%static 'img/logo.jpeg'%}" alt="LOGO" style="float:left;">
                    <br>
        <h2 style="text-align: center;" class="header1"> BLUEPRINT RECO SITE</h2>

    </nav>



      {% if documents %}
        <ul>
            {% for document in documents %}
                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}


    <div id="propBox">
        <div class="emailForm" id="contactForm">

        <form action="{%url 'recoapp:list' %}" method="post" enctype="multipart/form-data" id="contForm">
            {% csrf_token %}

                <input type="text" name="transName" size="30"><br>

            <br>Deliverable Type Required:<br>

            <select name="deliveryType" >
                <option value="Numbers Spread"> Numbers Spread</option>
                <option value = "Valuation Memo"> Valuation Memo</option>
                <option value= "Proposal"> Proposal</option>
                <option value = "Offering Memorandum"> Offering Memorandum</option>
            </select>


            <br>City:<br>
            <input type="text" name="cityName" size="30"><br>

            <br>State:<br>
            <input type="text" name="stateName"  size="30"><br>

            <br>Number of Units/Beds:<br>
            <input type="text" name="numUnits" size="30"><br>

            <br>Care Type:<br>

    <div style="display:inline">

            <input type="checkbox" name="careType" value="IL"> IL
            <input type="checkbox" name="careType" value="AL"> AL
            <input type="checkbox" name="careType" value="MC"> MC
            <input type="checkbox" name="careType" value="SNF"> SNF
            <input type="checkbox" name="careType" value="LTACH"> LTACH
    </div>
    <br>

            <br>Origination Lead:<br>
            <input type="text" name="origLead" size="30"><br>

            <br>Timing Expectation<br>
    <input type="date" name="dueDate"><br>

    
      
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>


       
            <br>

        <button name = "Send" type = "submit" id="send">Send</button>
       

        </form>
        </div>




</body>

</html>