{% load staticfiles %}
<html>
<head>
	     <style>
              html, body {
              height: 100%;		
              margin: 0 auto;
              padding: 0;
            }
            #map {
              height: 100%;
              width:100%;
             	margin: 0 auto 0 auto; 
            }
            </style>
            </head>
<body>
  <div class ="header">
    
        <div class ="logo" style="float:left;">
          <img src="" alt="Dope Apartments">
        </div>


        <div class = "search" style="margin-left:150px;" >

          <table>
            <tr>
              <td>
                <form>
                <input id="addressform" placeholder="Where to?" style = "margin:0; width:100%; border:0; background-color: transparent; padding-left:2px; max-width:400px;" type="search">
              </form>
            </td>
          </tr>
        </table>
        </div>
  </div>


	<div id="map"> </div>

		<form>
				
			<script>
					function initMap() {
					       	var sec = {{item}}
					        var map = new google.maps.Map(document.getElementById('map'), {
					          zoom: 13,
					          center: sec
					        });   }

					  </script>	

</body>

<script async defer
        		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABAGhtae7h91pf24nfyZ6eFiPThWW3W4M&callback=initMap">
    		</script>
</html>